---
layout: default
---

{% for venue in page.venues %}

<div class="row map">
    <div id="map-outer" class="col-md-12">
        <div id="address" class="col-md-4">
            <address>
                <strong>{{ venue.title }}</strong><br>
                {{ venue.address }}
            </address>

            <address>
                <strong>{{ venue.contact }}</strong><br>
                <a href="mailto:{{ venue.email }}">{{ venue.email }}</a>
            </address>

            <iframe
                    src="{{ venue.calendar }}"
                    style=" border:solid 1px #777 "
                    width="330"
                    height="270"
                    frameborder="0">
            </iframe>

            <br/>
            <br/>

            {% for event in venue.events %}
                <b>{{ event[0] }}</b>
                {{ event[1] | markdownify }}
            {% endfor %}

        </div>
        {{ venue.map }}

    </div>
    <!-- /map-outer -->

</div>
<!-- /row -->
{% for a in venue.announcements %} <h4>{{ a }}</h4> {% endfor %}

{% endfor %}